* {
    box-sizing: border-box;
}
body {
    background: black;
    margin: 0px;
}

.grid-item { 
    width: 25%; 
    background: white;
    height: 150px;
    border: solid 1px black;
}
.grid-item--width2 { 
    width: 50%;
    background: white;
    border: solid 1px black;
    height: 100px;
}