<!doctype html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body class="one-column">
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M445JR4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <div class="container">
            {% include header.html %}
            {% include navigation.html %}
            <main>
                {% include page_title.html %}   
                {{ content }}
            </main>
            {% include footer.html %}
        </div>
        {% include scripts.html %}
    </body>
</html>
